// BIG SCREENS
@media (min-width: 1450px) {
  html {
    font-size: 70%;
  }
}

// MEDIUM SCREENS
@media (max-width: 1310px) {
  .container-display {
    font-size: 5rem;
  }
}

// SMALL SCREENS
@media (max-width: 1130px) {
  html {
    font-size: 50%;
  }
}

// TABLET
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }

  .btn {
    font-size: $fs-small;
  }
  .container-display {
    font-size: 3rem;
  }

  .request-btn {
    margin: 6rem 1rem;
  }

  .container-ctrl {
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;

    .first-btn,
    .second-btn,
    .reset-btn {
      width: 80%;
    }
  }
}

// MOBILE
@media (max-width: 600px) {
  html {
    font-size: 45%;
  }

  .container {
    width: 80%;
  }

  .request-btn {
    flex-direction: column;
    margin: 4rem 1rem;
  }

  .container-display {
    margin: 2rem;
    border-radius: 15px;
  }
  .container-ctrl {
    margin: 2rem;
  }
}
