// COLORS
$color-primary: #183c8c;
$color-primary-light: #235bd1;
$color-primary-dark: #122d69;

$color-secondary: #f5f6f4;
$color-secondary-light: #fff;
$color-secondary-dark: #e0e3dd;

$color-text-dark: #23282f;
$color-text-light: #ebf2fa;

$color-red: #f17455;
$color-green: #99c21e;
$color-grey: #b4c2d0;

// FONT FAMILY
$ff-number: Reddit Mono;
$ff-text: Inter;

// FONT SIZE
$fs-small: 1.8rem;
$fs-medium: 3rem;
$fs-big: 6rem;

// BOX SHADOWS
$shadow-close: 0px 2.5px 12px 4px rgba(0, 0, 0, 0.3);
$shadow-far: 0px 4px 14px 5px rgba(0, 0, 0, 0.3);
